/*
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
*/
/* Styles for screens smaller than 768px */
.item-image {
  width: 120px;
  height: 120px;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  li {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #9ca5af;
  }

  .cart h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .cart li {
    padding: 5px 0;
  }

  .cart .total {
    font-size: 18px;
  }
}

/* Styles for screens between 768px and 960px */
@media (min-width: 768px) and (max-width: 959px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  li {
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0069d9;
  }

  .cart h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .cart li {
    padding: 10px 0;
  }

  .cart .total {
    font-size: 20px;
  }
}

/* Styles for screens larger than 960px */
@media (min-width: 960px) {
  .container {
    max-width: 960px;
    padding: 0 20px;
  }

  h1 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  li:last-child {
    border-bottom: none;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0069d9;
  }

  .cart h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .cart li {
    border: none;
    padding: 10px 0;
  }

  .cart li:last-child {
    margin-bottom: 20px;
  }

  .cart .total {
    font-size: 24px;
    font-weight: bold;
  }
}
